@{
    ViewBag.Title = "ProductList";
}
<!DOCTYPE html>
<html>
<body>
    <h2 class="text-center">
        Productos Disponibles
    </h2>
    <div class="row">
        @{foreach (var product in ViewBag.products)
            {
                <div class="col-sm-4">
                    <div>
                        Nombre: @product.name
                    </div>
                    <div>
                        Descripción: @product.description
                    </div>
                    <div>
                        Cantidad para descuento: @product.discountAmount
                    </div>
                    <div>
                        Precio: @product.price
                    </div>
                    <div>
                        Descuento: @product.discount
                    </div>
                    <div>
                        <img src=@Url.Action("fileAccess", "Product", new { productID = product.id }) style="width:128px;height:128px;" />
                    </div>
                    <div>
                        @Html.ActionLink("Comprar individualmente", "addProductToCart", new { productID = product.id, amount = 1 }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Comprar en paquete", "addProductToCart", new { productID = product.id, amount = product.discountAmount }, new { @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>