@{
    ViewBag.Title = "ShoppingCart";
}
<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</head>
<body>
    <h4 class="text-center">
        Productos en Mi Carrito de Compras
    </h4>
    @{
        foreach (var product in ViewBag.productsInCart)
        {
            <div>
                ID del producto: @product.id
            </div>
            <div>
                Cantidad en el carrito: @product.amount
            </div>
            <br />
            <br />
        }
        for (int i = 0; i < ViewBag.productDiscounts.Length; i++)
        {
            <div>Descuento aplicado al producto @i : @ViewBag.productDiscounts[i]   </div>
        }
    }
    <div>Precio a pagar: @ViewBag.totalPrice </div>
    @Html.ActionLink("Proceder a Checkout", "buyProducts", "Product", new { @class = "btn btn-lg" })

</body>
</html>

