@{
    ViewBag.Title = "ShoppingCart";
}
<!DOCTYPE html>
<html>
<body>
    <h4 class="text-center">
        Productos en Mi Carrito de Compras
    </h4>
    @{
        foreach (var product in ViewBag.productsInCart)
        {
            <div>
                ID del producto: @product.id
            </div>
            <div>
                Cantidad en el carrito: @product.amount
            </div>
            <br />
            <br />
        }
        for (int i = 0; i < ViewBag.productDiscounts.Length; i++)
        {
            <div>Descuento aplicado al producto @i : @ViewBag.productDiscounts[i]   </div>
        }
    }
    <div>Precio a pagar: @ViewBag.totalPrice </div>
    @Html.ActionLink("Proceder a Checkout", "buyProducts", "Product", new { @class = "btn btn-lg" })

</body>
</html>

