<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title - Mercadito Feliz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
        input,
        select,
        textarea {
            max-width: 1200px;
        }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Mercadito Feliz", "productList", "Product", new { area = "" }, new { @class = "nav-link text-light" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Añadir Producto", "addProduct", "Product", new { area = "" }, new { @class = "nav-link text-light" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Ver Productos", "productList", "Product", new { area = "" }, new { @class = "nav-link text-light" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Carrito de Compras", "shoppingCart", "Product", new { area = "" }, new { @class = "nav-link text-light" })
            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mercadito Feliz</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
